.panel {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.viewer-panel {
    overflow: hidden;
    flex-grow: 2;
}

.editor-panel {
    flex-grow: 1;
    min-width: 400px;
    max-width: 650px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table input {
    width: 100%;
}

table input[type="text"],
table input[type="range"] {
    width: calc(100% - 16px);
}

table select {
    width: 100%;
}

table, tr, td {
    padding: 6px 8px;
    border: 1px #ddd solid;
}

table tr td:first-child {
    color: #999;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
    width: 60%;
}

input,
select {
    background-color: #eee;
    border: 0;
    border-radius: 3px;
    padding: 6px 8px;
}

button {
    border-radius: 3px;
    border: 1px #aaa solid;
    color: #111;
    padding: 6px 8px;
    background-color: white;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.editor-panel-actions {
    text-align: right;
}

.material-type-select {
    /* border-radius: 3px; */
    border: 1px #ddd solid;
    color: #111;
    padding: 6px 8px;
    background-color: white;
    width: 100%;
    margin-bottom: 2px;
}