<div class="panel">
    <div class="editor-panel">
        <div>
            <select class="material-type-select">
                <option>Material: MeshBasicMaterial</option>
                <option>Material: MeshLambertMaterial</option>
                <option>Material: MeshPhongMaterial</option>
                <option>Material: MeshPhysicalMaterial</option>
            </select>
        </div>
        <table class="table-title">
            <tr>
                <td>
                    Name<br/>
                    <small>The name of the material.</small>
                </td>
                <td><input type="text" [(ngModel)]="material.name" /></td>
            </tr>
            <tr>
                <td>
                    Color<br/>
                    <small>The color of the material.</small>
                </td>
                <td>
                    <color-input #color [value]="material.color" (change)="update()"></color-input>
                </td>
            </tr>
            <tr>
                <td>
                    Ambient<br/>
                    <small>The ambient color of the material.</small>
                </td>
                <td>
                    <color-input #ambient [value]="material.ambient" (change)="update()"></color-input>
                </td>
            </tr>
            <tr>
                <td>
                    Emisive<br/>
                    <small>The emisiveness of the material.</small>
                </td>
                <td>
                    <color-input #emissive [value]="material.emissive" (change)="update()"></color-input>
                </td>
            </tr>
            <tr>
                <td>
                    Specular<br/>
                    <small>The specular color of the material.</small>
                </td>
                <td>
                    <color-input #specular [value]="material.specular" (change)="update()"></color-input>
                </td>
            </tr>
            <tr>
                <td>
                    Side<br/>
                    <small>Defines which side of faces will be rendererd - front, back or both.</small>
                </td>
                <td>
                    <select [(ngModel)]="material.side" (change)="update()">
                        <option value="0">Front</option>
                        <option value="1">Back</option>
                        <option value="2">Double</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Transparant<br/>
                    <small>
                        Whether the material is transparant. 
                        Transparency is controlled by settings its opacity.
                    </small>
                </td>
                <td>
                    <input type="checkbox" [(ngModel)]="material.transparent" (change)="update()" />
                </td>
            </tr>
            <tr>
                <td>
                    Opacity<br/>
                    <small>
                        Value between 0.0 and 1.0 indicating how transparent the material is.
                    </small>
                </td>
                <td>
                    <input type="range" min="0" max="1" step="0.01" [(ngModel)]="material.opacity" (change)="update()"/>
                </td>
            </tr>
            <tr>
                <td>
                    Fog<br/>
                    <small>Whether the material is affected by fog.</small>
                </td>
                <td>
                    <input type="checkbox" [(ngModel)]="material.fog" (change)="update()"/>
                </td>
            </tr>
            <tr>
                <td>
                    Alpha test<br/>
                    <small>
                        Sets the alpha value to be used when running an alpha test. 
                        The material will not be renderered if the opacity is lower than this value.
                    </small>
                </td>
                <td>
                    <input type="range" min="0" max="1" step="0.01" [(ngModel)]="material.alphaTest" (change)="update()"/>
                </td>
            </tr>
            <tr>
                <td>
                    Map<br/>
                    <small>The color map.</small>
                </td>
                <td>
                    <texture-input #map [texture]="material.map" (change)="update()"></texture-input>
                </td>
            </tr>
            <tr>
                <td>
                    Environment map<br/>
                    <small>The environment map, made up of size images.</small>
                </td>
                <td>
                    <select [(ngModel)]="material.envMapMapping" (change)="update()">
                        <option value="0">Reflection</option>
                        <option value="1">Refraction</option>
                    </select>
                    <hr/>
                    <texture-input #envMap [texture]="material.envMap" (change)="update()"></texture-input>
                </td>
            </tr>
            <tr>
                <td>
                    Combine<br/>
                    <small>How to combine the result of the surface's color with the environment map.</small>
                </td>
                <td>
                    <select [(ngModel)]="material.combine" (change)="update()">
                        <option value="0">Multiply</option>
                        <option value="1">Mix</option>
                        <option value="2">Add</option>
                    </select> 
                    <hr/>
                    <small>If mix is chosen, reflectivity is used to blend between colors.</small>
                </td>
            </tr>
            <tr>
                <td>
                    Light map<br/>
                    <small>The light map. Requires a second set of UV's.</small>
                </td>
                <td>
                    <texture-input #lightMap [texture]="material.lightMap" (change)="update()"></texture-input>
                </td>
            </tr>
            <tr>
                <td>
                    Light map intensity<br/>
                    <small>Intensity of the baked light.</small>
                </td>
                <td>
                    <input type="range" min="0" max="1" step="0.01"/>
                </td>
            </tr>
            <tr>
                <td>
                    Metal
                </td>
                <td>
                    <input type="checkbox" [(ngModel)]="material.metal" (change)="update()" />
                </td>
            </tr>
            <tr>
                <td>Shininess</td>
                <td>
                    <input type="range" min="0" max="1000" step="1" [(ngModel)]="material.shininess" (change)="update()" />
                </td>
            </tr>
            <tr>
                <td>
                    Reflectivity
                </td>
                <td>
                    <input type="range" min="0" max="1" step="0.01" [(ngModel)]="material.reflectivity" (change)="update()"/>
                </td>
            </tr>
            <tr>
                <td>
                    Refraction ratio
                </td>
                <td>
                    <input type="range" min="0" max="1" step="0.01" [(ngModel)]="material.refractionRatio" (change)="update()"/>
                </td>
            </tr>
            <tr>
                <td>
                    Specular map
                </td>
                <td>
                    <texture-input #specularMap [texture]="material.specularMap" (change)="update()"></texture-input>
                </td>
            </tr>
            <tr>
                <td>Normal map</td>
                <td>
                    <texture-input #normalMap [texture]="material.normalMap" (change)="update()"></texture-input>
                </td>
            </tr>
            <tr>
                <td>
                    Bump map
                </td>
                <td>
                    <texture-input #bumpMap [texture]="material.bumpMap" (change)="update()"></texture-input>
                </td>
            </tr>
            <tr>
                <td>Bump scale</td>
                <td>
                    <input type="text" [(ngModel)]="material.bumpScale" (change)="update()" />
                </td>
            </tr>
            <tr>
                <td>
                    Wireframe
                </td>
                <td>
                    <input type="checkbox" [(ngModel)]="material.wireframe" (change)="update()" />
                </td>
            </tr>
        </table>
        <button (click)="logMaterial()">Log material</button>
        <button (click)="materialTypes()">Material types</button>
        <hr/>
        <a href="https://3dtextures.me/" target="_new">Download textures!</a>
    </div>
    <div class="viewer-panel" #viewer>
        <three-js-viewer *ngIf="viewer" [material]="material" [skybox]="true"></three-js-viewer>
    </div>
</div>

